---
layout: none
title: Classifica-artisti
permalink: /classifica-artisti
---

<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include nav.html %}
        <div class="main-container">
        	<section>
			    <div class="container">
			        <div class="row mb64 mb-xs-24">
			            <div class="col-sm-12 text-center">
			                <i class="ti-cup ti icon-lg" style="color:#47b475"></i>
			                <h4 class="uppercase mt40 mb40">Classifiche artisti</h4>
			            </div>
			        </div>
			        
			        <div class="row">
			            <div class="col-md-10 col-md-offset-1">
			                <div class="tabbed-content button-tabs">
			                    <ul class="tabs thirds mb64 mb-xs-24">
			                        <li class="active">
			                            <div class="tab-title">
			                                <span>Artisti piu' amati</span>
			                            </div>
			                            <div class="tab-content text-left">
			                                <table class="table table-hover">   
			                                </table>
			                                <table id="table-artisti-preferiti" class="table table-hover"> 
			                                <thead> <tr> <th>#</th> <th>Artista</th><th></th><th>Preferenze</th><th></th><th>Quadri</th><th></th><th></th> </tr> </thead> <tbody>
			                                {% assign sorted = (site.data.artisti | sort: 'n_preferenze' | reverse) %}
			                                {% for artista in sorted limit:10 %}
			                                	{% assign loopindex = {{forloop.index}} %}
			                                	{% assign num = {{artista.n_preferenze}} %}
			                                	{% include lista-classifica-artisti.html %}
			                                {% endfor %}	
			                                </tbody> </table>
			                            </div>
			                        </li>
			                        <li>
			                            <div class="tab-title">
			                                <span>Maggior quadri preferiti</span>
			                            </div>
			                            <div class="tab-content text-left">
			                                <table class="table table-hover">   
			                                </table>
			                                <table id="table-quadri-preferiti" class="table table-hover"> 
			                                <thead> <tr> <th>#</th> <th>Artista</th><th></th><th>Preferenze</th><th></th><th>Quadri</th><th></th><th></th> </tr> </thead> <tbody>
			                                {% assign sorted = (site.data.artisti | sort: 'n_quadri_pref' | reverse) %}
			                                {% for artista in sorted limit:10 %}
			                                	{% assign loopindex = {{forloop.index}} %}
			                                	{% assign num = {{artista.n_quadri_pref}} %}
			                                	{% include lista-classifica-artisti.html %}
			                                {% endfor %}	

			                                </tbody> </table>
			                            </div>
			                        </li>
			                        <li>
			                            <div class="tab-title">
			                                <span>Maggior visite dei quadri</span>
			                            </div>
			                            <div class="tab-content text-left">
			                                <table class="table table-hover">   
			                                </table>
			                                <table id="table-quadri-visite" class="table table-hover"> 
			                                <thead> <tr> <th>#</th> <th>Artista</th><th></th><th>Preferenze</th><th></th><th>Quadri</th><th></th><th></th> </tr> </thead> <tbody>
			                                {% assign sorted = (site.data.artisti | sort: 'n_visite_quadri' | reverse)%}
			                                {% for artista in sorted limit:10 %}
			                                	{% assign loopindex = {{forloop.index}} %}
			                                	{% assign num = {{artista.n_visite_quadri}} %}
			                                	{% include lista-classifica-artisti.html %}
			                                {% endfor %}	

			                                </tbody> </table>
			                            </div>
			                        </li>
			                    </ul>
			                </div>
			                
			            </div>
			        </div>
			        
			    </div>
			    
			</section>

        </div>
        {% include footer.html %}
        {% include js.html %}
    </body>
</html>
