<section id="cta-diventa-artista" class="pt64 pb64">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="mb8">Diventa subito un artista</h2>
                <p class="lead mb40">
                    Potrai pubblicare le tue opere su Talent-art e iniziare a venderle da subito.
                </p>
                <a class="btn btn-filled btn-white btn-lg mb0" href="#">Diventa un artista</a>
            </div>
        </div>
    </div>
    <!--end of container-->
</section>