<!-- Quadri pubblicati -->
<a id="grid-quadri" class="in-page-link"></a>
<section id="grid-quadri-artista-wrap" class="pt48">
    <div class="container">
        <div class="row pb24">
            <div class="col-sm-12 text-center">
            	<h3 class="uppercase mb40 mb-xs-24">17 Quadri<br></h3>
                <!-- <ul class="filters mb0">
                </ul> -->
            </div>
        </div>
        
        <div class="row masonry-loader">
            <div class="col-sm-12 text-center">
                <div class="spinner"></div>
            </div>
        </div>
        <div class="row masonry masonryFlyIn lightbox-grid" data-gallery-title="Gallery"></div>
    </div>
</section>