<!-- Info artista -->
<div class="main-container">
<a id="info-artista" class="in-page-link"></a>
<section id="info-artista-wrap" class="pb48">
    <div class="container ">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-md-offset-2">
                <div class="image-tile outer-title text-center">
                    <img alt="Pic" src="img/artisti/78.jpg" class="img-circle">
                </div>
                <!-- <p class="mb0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                </p> -->
            </div>
            <div class="col-md-6 col-md-offset-1">
         		<h4 class="uppercase mb16">gabriele scartozzi<br></h4>
	            <h5 class="mb24"> <i class="ti-quote-left icon icon-xs mb16"></i> sono un artista, per hobby , realizzo opere su commissione,ritratti, paesaggi e molto altro. <i class="ti-quote-right icon icon-xs mb16"></i></h5>
	            <p class="mb16">dipingo per hobby e per passione...autodidatta</p>
	            <p><a href="">http://http://www.premioceleste.it/artista-ita/idu:49688/</a></br>
	            	<a href="">https://www.facebook.com/GabrieleScartozziInArte</a></p>
	            <div>
	            	<a class="btn btn-md mb0 btn-filled" href="#"><i class="ti-heart icon-xs"></i> Aggiungi ai preferiti</a>
	            	<a class="btn btn-md mb0" href="#contact-artista">Contatta Artista</a>
	            </div>
            </div>            
        </div>
    </div>
</section>
<section class="feature-wrap pt48 pb32">
	<div class="container">
        <div class="row features" >
        	<div class="col-md-8 col-sm-6 col-md-offset-2">
	        	<div class="col-md-4 col-sm-4">
		        	<div class="feature feature-3 mb-xs-24 mb16">
			            <h3 class="uppercase mb16 text-center">2<i class="ti-medall icon-sm"></i></h3>
			            <h5 class="uppercase mb16 text-center">LIVELLO ARTISTA<br></h5>
			        </div>
			    </div>
			    <div class="col-md-4 col-sm-4">
		        	<div class="feature feature-3 mb-xs-24 mb16">
			            <h3 class="uppercase mb16 text-center">12<i class="ti-heart icon-sm"></i></h3>
			            <h5 class="uppercase mb16 text-center">PREFERENZE RICEVUTE<br></h5>
			        </div>
			    </div>
			    <div class="col-md-4 col-sm-4">
		        	<div class="feature feature-3 mb-xs-24 mb16">
			            <h3 class="uppercase mb16 text-center">17<i class="ti-image icon-sm"></i></h3>
			            <h5 class="uppercase mb16 text-center">QUADRI PUBBLICATI<br></h5>
			        </div>
			    </div>
		    </div>
        </div>
    </div>
</section >