<section>
    <div class="container">	
        <div id="lista-artisti" class="row">
        	{% for artista in site.data.artisti %}
				<div class="artista col-md-3 mb32">
                    <div class="cont">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="user-img-wrap">
                                    <img alt="Pic" class="inline-block" src="{{ "/assets/img/artisti/" | prepend: site.baseurl }}{{ artista.img }}" alt="">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <a href="/artista/{{artista.name}}">
                                    <h6 class="mb16 mt16">{{artista.name}}</h6>
                                </a>
                                <span class="uppercase mb16 text-center">{{artista.livello}}<i class="ti-medall icon-sm"></i></span>
                                <span class="uppercase mb16 text-center">{{artista.n_quadri}}<<i class="ti-image icon-sm"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
        	{% endfor %}
        </div>
    </div>
</section>