<tr class="artista-row">
    {% if loopindex < 3 %}
        <th scope="row"><h3 class="mt24" style="color:rgb(188,0,111)">{{loopindex}}</h3></th>
    {% else %}
        <th scope="row"><h4 class="mt32" >{{loopindex}}</h3></th>
    {% endif %}
    <td>
        <div class="user-img-wrap">
            <img alt="Pic" class="inline-block" src="{{ "/assets/img/artisti/" | prepend: site.baseurl }}{{ artista.img}}"/>
        </div>
    </td>
    <td>
        <h6 class="mb0 mt16">{{artista.name}}</h6>
        <p class="">{{artista.intro}}</p>
    </td> 
    <td>{{num}}</td> 
    <td>
        <div class="quadro-img-wrap">
            <div class="background-image-holder fadeIn" style="background-color: transparent; background-image: url('{{'/assets/img/quadri/'| prepend: site.baseurl }}{{ artista.quadri[0] }}.jpg'); background-repeat: repeat; background-attachment: scroll; background-clip: border-box; background-origin: padding-box; background-position: initial; background-size: auto auto;">
                <img alt="Pic" class="background-image" class="inline-block" src="{{ "/assets/img/quadri/" | prepend: site.baseurl }}{{ artista.quadri[0] }}.jpg" alt="" style="display: none;">
            </div>
        </div>
    </td>
    <td>
        <div class="quadro-img-wrap">
            <div class="background-image-holder fadeIn" style="background-color: transparent; background-image: url('{{'/assets/img/quadri/'| prepend: site.baseurl }}{{ artista.quadri[1] }}.jpg'); background-repeat: repeat; background-attachment: scroll; background-clip: border-box; background-origin: padding-box; background-position: initial; background-size: auto auto;">
                <img alt="Pic" class="background-image" class="inline-block" src="{{ "/assets/img/quadri/" | prepend: site.baseurl }}{{ artista.quadri[1] }}.jpg" alt="" style="display: none;">
            </div>
        </div>
    </td>
    <td>
        <div class="quadro-img-wrap">
            <div class="background-image-holder fadeIn" style="background-color: transparent; background-image: url('{{'/assets/img/quadri/'| prepend: site.baseurl }}{{ artista.quadri[2] }}.jpg'); background-repeat: repeat; background-attachment: scroll; background-clip: border-box; background-origin: padding-box; background-position: initial; background-size: auto auto;">
                <img alt="Pic" class="background-image" class="inline-block" src="{{ "/assets/img/quadri/" | prepend: site.baseurl }}{{ artista.quadri[2] }}.jpg" alt="" style="display: none;">
            </div>
        </div>
    </td>
</tr>