<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="nav-container">
  <nav class="bg-dark">
        <div class="nav-utility">
            <div class="module left">
                
            </div>
            <div class="module right">
                 <a class="btn btn-sm" href="login.html">Login</a>
                 <a class="btn btn-sm vpf btn-filled" href="signin.html">REGISTRA</a>
            </div>
        </div>
        <div class="nav-bar">
            <div class="module left">
                <a href="index.html">
                    <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}">
                      <img class="logo logo-light" alt="Talent-art" src="img/logowhite.png">
                    </a>
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="nav navbar-nav">
                      <li {% if page.title == "Home" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">HOME</a></li>
                      <li {% if page.title == "Artisti" %}class="active"{% endif %}><a href="{{"/artisti/" | prepend: site.baseurl }}">Artisti</a></li>
                      <li {% if page.title == "Classifica Artisti" %}class="active"{% endif %}><a href="{{"/classifica-artisti/" | prepend: site.baseurl }}">Classifica Artisti</a></li>
                      <li {% if page.title == "About" %}class="active"{% endif %}><a href="{{"/about/" | prepend: site.baseurl }}">ABOUT</a></li>
                      <li {% if page.title == "Contact" %}class="active"{% endif %}><a href="{{"/contact/" | prepend: site.baseurl }}">CONTACT</a></li>
                    </ul>
                </div>
                <div class="module widget-handle language left">
                    <ul class="menu">
                        <li class="has-dropdown toggle-sub">
                            <a href="#">ITA </a>
                            <ul>
                                <li>
                                    <a href="#">ENG</a>
                                </li>
                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </nav>
  </div>
</div>